{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
			<td><a href="/categorias_alta"><button type="button" class="btn btn-success" data-idmenu="2" data-accion="a">Agregar Nuevo</button></a></td>
		</tr>	
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 600px;">
				<table class="table table-striped">
			  		<thead>
			  			<tr>
			  			<th colspan="2">Opciones</th>
							<th hidden>ID</th>
							<th>Nombre</th>
							<th>Link</th>
							<th>Texto</th>
							<th style="text-align: center;">Activo</th>								
						</tr>
			  		</thead>
			  		<tbody>
			  			{% for c in categorias %}
							<tr>
								<td><a href="/categorias_modificar/{{ c.id }}"><button class="btn btn-warning menu" data-idmenu="2" data-accion="m">Modificar</button></a></td>
								<td><a href='/categorias_borrar/{{ c.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
								<td hidden>{{ c.id }}</td>
								<td>{{ c.nombre }}</td>
								<td>{{ c.path_imagen }}</td>
								<td>{{ c.texto }}</td>
								<td style="text-align: center;">
									{% if c.activo == 1 %}
			            	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			          	{% else %}
			            	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			          	{% endif %} 
			          </td>								
							</tr>
						{% endfor %}
			  		</tbody>
				</table>
			</div>	
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
{% endblock %}