{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/file.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/comercios_alta" class="form-inline" enctype="multipart/form-data">
		<table align="center" class="table table-striped">
			<tr>
				<td>Nombre:</td>
				<td><input style="max-width: 500px;" type="text" id="nombre" name="nombre" required class="form-control"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>			
			<tr>
				<td>Direccion:</td>
				<td><input style="max-width: 500px;" type="text" id="direccion" name="direccion" required class="form-control"><div class="aviso">Quedan <span id="charsLeftDireccion"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input style="max-width: 500px;" type="text" id="telefono" name="telefono" required class="form-control" onKeyPress="return soloNumeros(event)"><div class="aviso">Quedan <span id="charsLeftTelefono"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Link:</td>
				<td><input style="max-width: 500px;" type="text" id="link" name="link" required class="form-control"><div class="aviso">Quedan <span id="charsLeftLink"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Posicion:</td>
				<td><input style="max-width: 500px;" type="text" id="posicion" name="posicion" required class="form-control" maxlength="3" onKeyPress="return soloNumeros(event)"><div class="aviso">Quedan <span id="charsLeftPosicion"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Imagen logo:</td>
				<td><span class="btn btn-success btn-file">
				    Cargar imagen <input type="file" name='avata' id="avatar2">
					</span><input style="max-width: 500px;" type="text" id="path_logo" name="path_logo" required class="form-control" disabled></td>
			</tr>
			<tr>
				<td>Imagen Banner:</td>
				<td><span class="btn btn-success btn-file">
				    Cargar imagen <input type="file" name='avata' id="avatar1">
					</span><input style="max-width: 500px;" type="text" id="path_banner" name="path_banner" required class="form-control" disabled></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()" class="btn btn-default"></td>
				<td><input type="submit" value="Agregar" class="btn btn-default"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#nombre').limit('25','#charsLeftNombre');
	$('#direccion').limit('50','#charsLeftDireccion');
	$('#telefono').limit('15','#charsLeftTelefono');
	$('#link').limit('20','#charsLeftLink');
	$('#posicion').limit('3','#charsLeftPosicion');
	$('#avatar2').change(function() {
    var filename = $('#avatar2')[0].files[0];
    // console.log(filename);
      filename ="uploads/product-"+filename.name;
    // console.log(filename);
    $('#path_logo').val(filename);
    });
	$('#avatar1').change(function() {
    var filename = $('#avatar1')[0].files[0];
      filename ="uploads/product-"+filename.name;
    // console.log(filename);
    $('#path_banner').val(filename);
   });
</script>

{% endblock %}