{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/file.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/comercios_modificar" class="form-inline" enctype="multipart/form-data">
		<input hidden  type="text" id="lastpathLogo" name="lastpathLogo" required value=" {{ comercio.path_logo }}">
		<input hidden  type="text" id="lastpathBanner" name="lastpathBanner" required value=" {{ comercio.path_banner }}">
		<input hidden name="id" value="{{ comercio.id }}">
		<table align="center" class="table table-striped">
			<tr>
				<td>Nombre:</td>
				<td><input style="max-width: 500px;" type="text" id="nombre" name="nombre" required class="form-control" value="{{ comercio.nombre }}"><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>			
			<tr>
				<td>Direccion:</td>
				<td><input style="max-width: 500px;" type="text" id="direccion" name="direccion" required class="form-control" value="{{ comercio.direccion }}"><div class="aviso">Quedan <span id="charsLeftDireccion"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Telefono:</td>
				<td><input style="max-width: 500px;" type="text" id="telefono" name="telefono" required class="form-control" value="{{ comercio.telefono }}" onKeyPress="return soloNumeros(event)"><div class="aviso">Quedan <span id="charsLeftTelefono"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Link:</td>
				<td><input style="max-width: 500px;" type="text" id="link" name="link" required class="form-control" value="{{ comercio.link }}"><div class="aviso">Quedan <span id="charsLeftLink"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Posicion:</td>
				<td><input style="max-width: 500px;" type="text" id="posicion" name="posicion" required class="form-control" maxlength="3" onKeyPress="return soloNumeros(event)" value="{{ comercio.posicion }}"></td>
			</tr>
			<tr>
				<td>Link logo:</td>
				<td><span class="btn btn-success btn-file">
				    Cargar imagen <input required type="file" name='avata' id="avatar2">
					</span><input  type="text" id="path_logo" name="path_logo" required class="form-control" value="{{ comercio.path_logo }}" readonly style="min-width: 350px;">
					<br><small>Recomendado imagenes cuadradas. Ej: 200x200.</small>
				</td>
			</tr>
			<tr>
				<td>Link Banner:</td>
				<td><span class="btn btn-success btn-file">
				    Cargar imagen <input required type="file" name='avata' id="avatar1">
					</span><input type="text" id="path_banner" name="path_banner" required class="form-control" value="{{ comercio.path_banner }}" readonly style="min-width: 350px;">
					<br><small>Recomendado imagenes cuadradas. Ej: 200x200.</small>
				</td>
			</tr>
			<tr>
				<td>Activo:</td>
				<td >
					{% if comercio.activo == 1 %}
            <input type="checkbox" checked  name="activo" id="activo">
          {% else %}
            <input type="checkbox" unchecked  name="activo" id="activo">
          {% endif %} 
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()" class="btn btn-default"></td>
				<td><input type="submit" value="guardar" class="btn btn-default"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#nombre').limit('25','#charsLeftNombre');
	$('#direccion').limit('50','#charsLeftDireccion');
	$('#telefono').limit('15','#charsLeftTelefono');
	$('#link').limit('70','#charsLeftLink');
	$('#posicion').limit('3','#charsLeftPosicion');
	$('#avatar2').change(function() {
    var filename = $('#avatar2')[0].files[0];
    filename ="public/uploads/product-"+filename.name;
    $('#path_logo').val(filename);
  });
	$('#avatar1').change(function() {
    var filename = $('#avatar1')[0].files[0];
    filename ="public/uploads/product-"+filename.name;
    $('#path_banner').val(filename);
  });
</script
</script>

{% endblock %}