{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}	
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Evhsa</h1>
        <p>Esta es la pagina principal del sistema para Evhsa.</p>
    </div>
</div>
<div class="container">
    <main>  
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h4><b>Agenda de hoy:</b></h4>
                {% if itemslength == 1 %}
                    <p>{{ items.fechaf }} {{ a.horaf }} - {{ items.descripcion_corta }}</p>
                {% else %}
                    {% for a in items %}
                        <p>{{ a.fechaf }} {{ a.horaf }} - {{ a.descripcion_corta }}</p>
                    {% endfor %}
                {% endif %}
                <p><a class="btn btn-default" href="/agendalista" role="button">Ver completo »</a></p>          
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </main>
</div>
<hr>
{% endblock %}