{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}	
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Panel de Control</h1>
        <!-- <p>del Sistema de Ofertas</p> -->
    </div>
</div>
<div class="container">
    <main>  
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">        
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </main>
</div>
<hr>
{% endblock %}