<html>
<head>
    <title>{{pagename}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/uploads/favicon.ico">
    <title>Ofertas</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <form class="form-signin" role="form" action="/login" method="post">
        <!-- <center><img src="/uploads/evhsalogogrande.png"></center> -->
        <center><h2 class="form-signin-heading">Log In</h2></center><br>
        <input type="text" name="nombre" class="form-control" placeholder="Nombre de Usuario" required="" autofocus="">
        <input type="password" name="password" class="form-control" placeholder="Contraseña" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form> 
</div>
<br>
<br>
</body>
</html>
	