{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<!-- <link href="/css/rubrosalta.css" rel="stylesheet"> -->
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" action="/ofertas_alta">
		<input hidden name="id_comercio" value="{{ id_comercio }}">
		<table align="center" class="table table-striped">
			<tr>
				<td>Texto:</td>
				<td><input type="text" id="texto" name="texto" required class="form-control"><div class="aviso">Quedan <span id="charsLeftTexto"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Precio:</td>
				<td><input type="text" id="precio" name="precio" required class="form-control"><div class="aviso">Quedan <span id="charsLeftPrecio"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Agregar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#precio').limit('10','#charsLeftPrecio');
	$('#nombre').limit('20','#charsLeftNombre');
	$(function() {

	});
</script>

{% endblock %}