{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
			<tr>
				<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
				<td><a href="/ofertas_alta/{{ id_comercio }}"><button type="button" class="btn btn-success">Agregar Nuevo</button></a></td>
			</tr>
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 600px;">
				<table class="table table-striped">
			  		<thead>
			  			<tr>
			  				<th colspan="2">Opciones</th>
							<th>ID</th>
							<th>Texto</th>
							<th>Precio</th>
							<th>Path Imagen</th>
						</tr>
			  		</thead>
			  		<tbody>
			  			{% for o in ofertas %}
							<tr>
								<td><a href="/ofertas_modificar/{{ o.id }}"><button class="btn btn-warning">Modificar</button></a></td>
								<td><a href="/ofertas_borrar/{{ o.id }}" onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger" >Eliminar</button></a></td>
								<td>{{ o.id }}</td>
								<td>{{ o.texto }}</td>
								<td>{{ o.precio }}</td>
								<td>{{ o.path_imagen }}</td>
							</tr>
						{% endfor %}
			  		</tbody>
				</table>
			</div>
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
{% endblock %}