{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/file.css" rel="stylesheet">
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="post" id="formalta" class="form-inline" action="/productos_alta" enctype="multipart/form-data">
		<input hidden name="id_comercio" id="id_comercio" value="{{ id_comercio }}">
		<table align="center" class="table table-striped">			
			<tr>
				<td>Texto:</td>
				<td><input type="text" id="texto" name="texto" required class="form-control" style="max-width: 500px;"><div class="aviso">Quedan <span id="charsLeftTexto"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Precio:</td>
				<td><input type="text" id="precio" name="precio" required class="form-control" onkeypress="return Validate7EntY2Dec(event,this)" style="max-width: 500px;"><div class="aviso">Quedan <span id="charsLeftPrecio"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Categoria:</td>
				<td>
					<select class="form-control" name="id_categoria" style="width: auto;">
						{% for c in categorias %}
              <option value="{{ c.id }}">{{ c.nombre }}</option>
            {% endfor %}
					</select>
				</td>
			</tr>
			<tr>				
				<td>Imagen del producto:</td>
				<td>
					<span class="btn btn-success btn-file">
				    Cargar imagen <input type="file" name="avatar" id="avatar">
					</span><input type="text" id="link" name="link" required class="form-control" readonly style="min-width: 350px;">
					<br><small>Recomendado imagenes cuadradas. Ej: 200x200.</small>
				</td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()" class="btn btn-default"></td>
				<td><input type="submit" value="Agregar" class="btn btn-default"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#link').limit('100','#charsLeftLink');
	$('#precio').limit('10','#charsLeftPrecio');
	$('#texto').limit('20','#charsLeftTexto');
	$('#avatar').change(function() {
    var filename = $('#avatar')[0].files[0];
    filename ="uploads/product-"+filename.name;
    $('#link').val(filename);
  });
</script>

{% endblock %}