{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/rubrosmodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/rubrosmodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>ID: </td>
				<td><input type="text" id="id" name="id" value="{{ rubro.id }}" readonly class="form-control"></td>
			</tr>
			<tr>
				<td>Grupo al que pertenece:</td>
				<td>
					<select id="grupo" name="grupo" class="form-control">
						{% for g in grupos %}
							{% if g.id == rubro.id_grupo_fk %}
								<option value="{{ g.id }}" selected data-codigo="{{ g.codigo }}">{{ g.codigo }} - {{ g.nombre }}</option>
							{% else %}
								<option value="{{ g.id }}" data-codigo="{{ g.codigo }}">{{ g.codigo }} - {{ g.nombre }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Codigo:</td>
				<td>
					<table style="display: inline-block">
						<tr>
							<td>
								<input type="text" id="codigo1" name="codigo1" readonly class="form-control" style="width: 50px;" value="{{ codigo1 }}">
							</td>
							<td style="width: 105px;">
								<input type="text" id="codigo2" name="codigo2" required class="form-control" style="width: 100px;" value="{{ codigo2 }}">
							</td>
							<td style="text-align: left;">
								<div class="aviso">Quedan <span id="charsLeftCodigo"></span> caraceteres.</div>
							</td>
						</tr>
					</table>					
				</td>
				<!-- <td><input type="text" id="codigo" name="codigo" value="{{ rubro.codigo }}" class="form-control" required><div class="aviso">Quedan <span id="charsLeftCodigo"></span> caraceteres.</div></td> -->
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ rubro.nombre }}" class="form-control" required><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#codigo2').limit('3','#charsLeftCodigo');
	$('#nombre').limit('45','#charsLeftNombre');
	$(function() {

	// var codigo = $(this).find(':selected').data('codigo')
	// 	// var id_grupo = $(this).val();
	// 	var cantidad_rubros = 0;
	// 	//console.log(id_grupo)
	// 	//console.log(codigo)

	// 	$.getJSON("/getRubrosPorGrupo/"+1, function (rubros){
	// 		cantidad_rubros = rubros.length;	
	// 		// console.log('len '+rubros.length)			
	// 		//console.log(rubros)
	// 		var asd = '';
	// 		// console.log('cant rub: '+cantidad_rubros)

	// 		if (cantidad_rubros < 10){
	// 		        asd = '00';
	// 		} else if (cantidad_rubros > 9){
	// 		        asd = '0';
	// 		} else {
	// 		        asd = '';
	// 		}

	// 		// console.log(asd)
	// 		cantidad_rubros = cantidad_rubros+1;
	// 		$("#codigo1").val(codigo);
 //    		$("#codigo2").val(asd+cantidad_rubros);

	// 	});

    	$("#grupo").on('change', function(){
    		var codigo = $(this).find(':selected').data('codigo')
    		var id_grupo = $(this).val();
    		var cantidad_rubros = 0;

    		$.getJSON("/getRubrosPorGrupo/"+id_grupo, function (rubros){
				cantidad_rubros = rubros.length;	
				var asd = '';

				if (cantidad_rubros < 10){
				        asd = '00';
				} else if (cantidad_rubros > 9){
				        asd = '0';
				} else {
				        asd = '';
				}

				cantidad_rubros = cantidad_rubros+1;
				$("#codigo1").val(codigo);
	    		$("#codigo2").val(asd+cantidad_rubros);
			});			
    	});    	
	});
</script>
{% endblock %}