{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  	<!-- Table -->
		<table>
		<tr>	
			<td><button type="button" class="btn btn-primary" onclick="history.back();">Atras</button></td>
			<td><a href="/rubros_alta"><button type="button" class="btn btn-success" data-idmenu="2" data-accion="a">Agregar Nuevo</button></a></td>
		</tr>	
		</table>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div id="mainHolder" style="overflow: scroll; max-height: 600px;">
				<table class="table table-striped">
			  		<thead>
			  			<tr>
			  				<th colspan="2">Opciones</th>
							<th>ID</th>
							<th>Nombre</th>							
						</tr>
			  		</thead>
			  		<tbody>
			  			{% for r in rubros %}
							<tr>
								<td><a href="/rubros_modificar/{{ r.id }}"><button class="btn btn-warning menu" data-idmenu="2" data-accion="m">Modificar</button></a></td>
								<td><a href='/rubros_borrar/{{ r.id }}' onclick="if (!confirm('¿Seguro desea eliminar?')) return false;"><button type="button" class="btn btn-danger">Eliminar</button><a/></td>
								<td>{{ r.id }}</td>
								<td>{{ r.nombre }}</td>								
							</tr>
						{% endfor %}
			  		</tbody>
				</table>
			</div>	
		</div><!--div col xs12 -->
	</div><!--div row -->
</div>
{% endblock %}