{% extends 'template.html' %}

{% block title %}
	{{ pagename }}
{% endblock %}

{% block content %}
<link href="/css/rubrosgruposmodificar.css" rel="stylesheet">	
<h2>{{ pagename }}</h2>
<div class="panel panel-default">
	<form method="POST" action="/rubrosgruposmodificar">
		<table align="center" class="table table-striped">
			<tr>
				<td>ID: </td>
				<td><input type="text" id="id" name="id" value="{{ rubrogrupo.id }}" readonly class="form-control"></td>
			</tr>
			<tr>
				<td>Codigo:</td>
				<td><input type="text" id="codigo" name="codigo" value="{{ rubrogrupo.codigo }}" class="form-control" required><div class="aviso">Quedan <span id="charsLeftCodigo"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td>Nombre:</td>
				<td><input type="text" id="nombre" name="nombre" value="{{ rubrogrupo.nombre }}" class="form-control" required><div class="aviso">Quedan <span id="charsLeftNombre"></span> caraceteres.</div></td>
			</tr>
			<tr>
				<td><input type="button" value="Atras" onclick="history.back()"></td>
				<td><input type="submit" value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.limit-1.2.js"></script>
<script type="text/javascript">
	$('#codigo').limit('1','#charsLeftCodigo');
	$('#nombre').limit('45','#charsLeftNombre');
	$(function() {
		
	});
</script>
{% endblock %}